.assignment-wrapper {
    border: 1px dashed gray;
    padding: 2em;
    border-radius: 1-em;
    margin-bottom: 1em;
    margin-bottom: 3em;
}

.assignment-wrapper-title {
    width: min-content !important;
    margin-top: -2em !important;
    background-color: white !important;
    white-space: nowrap !important;
}

.comment-bubble {
    background: #eeeeee;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0em;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
